body
{
	font-size: 10;
	color: #7c8489;
	font-family: Verdana;
	margin:0;
}
.Menu
{
font-size:10;	
font-weight:bold;
color:#7c8489;
}
Legend
{
font-size:14;
font-weight:bold;
color:#AD6800;
}
Fieldset
{
	padding-top:10px;
	width: 720px;
}

table
{
font-size:10;	
font-weight:normal;
color:#7c8489;
}
.RedigerbareTextMulti
{
font-size:12px;	
background-color:#FFFFFF;
	border-style:inset;border-width:2px;
}
A:link {
	COLOR: #AD6800; TEXT-DECORATION: underline;
}
A:active {
	COLOR: #AD6800; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #AD6800; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A.menu:link {
	COLOR: #7c8489; TEXT-DECORATION: none
}
A.menu:active {
	COLOR: #7c8489; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #7c8489; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
.IkkeRedigerbareForms
{
	font-size:10;
	border-width:0px; color:#000000;
	border-left-color:#808080;border-top-color:#808080;border-bottom-color:#ffffff;border-right-color:#ffffff;
	background-color:transparent;
}
.IkkeRedigerbareFormsRightAlign
{
	font-size:10;
	border-width:0px; color:#000000;
	border-left-color:#808080;border-top-color:#808080;border-bottom-color:#ffffff;border-right-color:#ffffff;
	background-color:transparent;
	text-align: right;
}
.RedigerbareForms
{
	background-color:#FFFFFF;font-size:10;
	border-style:inset;border-width:2px;	
}
input{
	font-size:10;
}
td.label {
	font-weight: bold;
	
}
a.label {
	font-weight: bold;
	
}
a.Header {
	font-weight: bold;
	font-size:12;
	
}
p.hjaelp
{
	padding-left:5px;
}
.AlternatingItem{
	background-color:#e0e0e0;
}
.Item{
	background-color:#efefef;
	vertical-align: top;
}

